<div
      class="card"
      style="width: 500px; height: 555px; margin: 10px; justify-content: center; opacity: 100%; text-align: center;" >
<p>
  Kerala is a popular tourist destination located in the southern part of India. Known for its lush green landscapes, serene backwaters, pristine beaches, and rich cultural heritage, Kerala attracts visitors from all over the world.

Some of the popular tourist attractions in Kerala include:

Backwaters: Kerala is famous for its network of interconnected canals, lagoons, and lakes, known as the backwaters. A houseboat cruise through the backwaters is a must-do activity for tourists.

Hill stations: Kerala is home to several picturesque hill stations such as Munnar, Wayanad, and Thekkady, which are known for their scenic beauty and cool climate.

Beaches: Kerala's long coastline offers visitors the opportunity to explore several beautiful beaches, including Kovalam, Varkala, and Cherai.

Wildlife: Kerala is home to several national parks and wildlife sanctuaries, including the Periyar National Park, Silent Valley National Park, and Chinnar Wildlife Sanctuary.

Ayurveda: Kerala is also known for its traditional Ayurvedic treatments and therapies, which are believed to promote physical and mental well-being.

Overall, Kerala offers a unique travel experience that combines natural beauty, cultural heritage, and wellness, making it a popular destination among tourists from all over the world.
</p>
</div>
